[Unit]
Description=SolSensor Server
Requires=network.target
After=syslog.target network.target
[Service]
WorkingDirectory=/sol
ExecStart=/sol/target/release/sol
ExecStop=/usr/bin/pkill sol
[Install]
WantedBy=multi-user.target