html, body {
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mc_embed_signup {
	background: #fff;
	clear: left;
	font-size: 14px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#mce-error-response {
	display: none;
}

#mce-success-response {
	display: none;
}

#bot-input {
	position: absolute;
	left: -5000px;
}
