<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/bulma.min.css">
	<link rel="stylesheet" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<script src="/static/turbolinks.js" type="text/javascript"></script>
    <title>{{title}}</title>
  </head>
  <body>
	<nav class="navbar">
	  <div class="container">
		<div class="navbar-brand">
		  <a class="navbar-item brand-text" href="/">SOL Sensor</a>
		  <a class="navbar-burger" data-target="navbarMenu">
			<span></span>
			<span></span>
			<span></span>
		  </a>
		</div>
		<div id="navbarMenu" class="navbar-menu">
		  <div class="navbar-start">
			<a class="navbar-item text-link" href="/users">Users</a>
			<div class="navbar-item has-dropdown is-hoverable">
			  <a class="navbar-link text-link">More</a>
			  <div class="navbar-dropdown">
				<a class="navbar-item" href="#about">About</a>
				<a class="navbar-item" href="#contact">Contact</a>
				<hr class="navbar-divider"/>
				<a class="navbar-item" href="#report">Report an issue</a>
			  </div>
			</div>
		  </div>
		  <div class="navbar-end">
			<div class="navbar-item">
			  <div class="buttons">
				<a class="button is-primary" href="/register"><strong>Sign up</strong></a>
				<a class="button is-light" href="/login">Log in</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</nav>
	{% block body %}{% endblock body %}
	<footer class="footer">
	  <div class="content has-text-centered">
		<p><strong>SOL</strong> by Jake Wachlin & Ryan Chipman</p>
		<span class="icon"><i class="fab fa-lg fa-github"></i></span>
		<span class="icon"><i class="fas fa-lg fa-book"></i></span>
	  </div>
	</footer>
  </body>
</html>
