{% extends "base" %}
{% block body %}
	<p>This is the index page content</p>
	<p>For more details on the api, see the README in the <a href="https://github.com/solsensor/sol">github repo</a></p>
{% endblock body %}
