{% extends "base" %}
{% block body %}
	<p>This page allows you to sign in using an existing account</p>
	<form action="/login" method="post">
	  Email:<input type="text" name="email">
	  Password:<input type="password" name="password">
	  <input type="submit" value="Login">
	</form>
{% endblock body %}
