<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{title}}</h1>
	<p>This page shows details about the sensor "{{sensor.id}}"</p>
	<ul>
	  <li>id: {{sensor.id}}</li>
	  <li>owner_id: {{sensor.owner_id}}</li>
	  <li>hardware_id: {{sensor.hardware_id}}</li>
	  <li>
		readings:
		<ul>
		  {% for r in readings %}
		  <li>
			id: {{r.id}}
			<ul>
			  <li>timestamp: {{r.timestamp}}</li>
			  <li>peak_power_mW: {{r.peak_power_mW}}</li>
			  <li>peak_current_mA: {{r.peak_current_mA}}</li>
			  <li>peak_voltage_V: {{r.peak_voltage_V}}</li>
			  <li>temp_celsius: {{r.temp_celsius}}</li>
			  <li>batt_V: {{r.batt_V}}</li>
			</ul>
		  </li>
		  {% endfor %}
		</ul>
	  </li>
	</ul>
  </body>
</html>
