{% extends "base" %}
{% block body %}
	<p>This page shows the currently registered users</p>
	<ul>
	  {% for u in users %}
	  <li><a href="/user/{{u.email}}">{{u.email}}</a></li>
	  {% endfor %}
	</ul>
{% endblock body %}
