{% extends "base" %}
{% block body %}
	<p>This page shows details about the user "{{user.email}}"</p>
	<ul>
	  <li>id: {{user.id}}</li>
	  <li>email address: {{user.email}}</li>
	  <li>
		sensors:
		<ul>
		  {% for sensor in sensors %}
		  <li><a href="/sensor/{{sensor.id}}">{{sensor.id}}</a></li>
		  {% endfor %}
		</ul>
	  </li>
	</ul>
{% endblock body %}
