[Unit]
Description=SolSensor Server
Requires=network.target
After=syslog.target network.target
[Service]
WorkingDirectory=/sol
ExecStart={{ sol_binary_path }}
ExecStop=/usr/bin/pkill {{ sol_binary_path }}
[Install]
WantedBy=multi-user.target